.videoBox {
  width: 100%;
  background-color: black;
  border: 2px solid white;
  border-radius: var(--borderRadius);
  overflow: hidden;
}

.videoContainer {
  width: 100%;
  aspect-ratio: 16/9;

  background-color: black;
}

.banner {
  color: white;
  background-color: var(--primaryColor);
  border-bottom: 2px solid white;
}

.banner > p {
  font-size: 10px;
  padding-top: 7px;
  text-align: center;
  padding-bottom: 9px;
}
